<div class="page">
	<section class="page-section">
		<header class="page-section-header">
			<h2><%= current_user.name %>'s Completed Tasks</h2>
		</header>
		<div class="list-view">
			<%= render 'completedtasks' %>
		<div class="list-footer">
			<%= link_to "My Lists", lists_path %>
		</div>
		</div>
	</section>
</div>