<div class="page">
	<section class="page-section">
		<header class="page-section-header">
			<h1><%= current_user.name %>'s lists</h1>
		</header>
			<div class="list-view">
				<%= render 'listtable' %>
			<br />
			<div class="list-footer">
				<%= link_to 'New List', new_list_path %>
			</div>
	</section>
</div>
