<div class="carousel">
	<div class="carousel-inner">
		<div class="item active">
			<%= image_tag("sand.jpg") %>
		<div class="container">
			<div class="carousel-caption my-carousel">
			<strong><h1>Welcome to To Do!</h1></strong>
			<h3 class="lead"><strong>
			Optimize your productivity with our streamlined to do lists.
			</strong>
			</h3>
			<%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-large" %>
			</div>
		</div>
	</div>
</div>
</div>