<div class="carousel">
	<div class="carousel-inner">
		<div class="item active">
			<%= image_tag("sand.jpg") %>
		<div class="container">
			<div class="carousel-caption my-carousel">
				<h3 class="signedinpage">You're signed in! View your
				<span class="list-link"><%= link_to "lists", lists_path %></span>
				to be on your way to productivity.</h3>
			</div>
		</div>
	</div>
</div>
</div>