<div class="carousel">
	<div class="carousel-inner">
		<div class="item active">
			<%= image_tag("sand.jpg") %>
		<div class="container">
			<div class="carousel-caption my-carousel">
			<strong><h1 class="abt-title">About</h1></strong>
			<h3 class="lead">
				<br><strong>
				To Do helps you optimize your productivity by creating easy-to-use to do lists. It was created by
				<%= link_to "Sara Robinson", "www.linkedin.com/pub/sara-robinson/24/779/403/" %>
				as she learns to develop web applications with 
				<%= link_to "Ruby on Rails", "http://rubyonrails.org/" %>
				. <%= mail_to "sara@sbxind.com", "Email her" %>
				with your feedback.</strong>
			</h3>
			</div>
		</div>
	</div>
</div>
</div>
