<div class="carousel">
	<div class="carousel-inner">
		<div class="item active">
			<%= image_tag("sand.jpg") %>
		<div class="container">
			<h2>Welcome to To Do!</h2>
			<h3>Optimize your productivity with our streamlined to do lists.</h3>
				<%= link_to "Get Started", "#", class: "btn btn-primary btn-large" %>
		</div>
	</div>
</div>
</div>
