$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import "bootstrap";

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.container .navbar-container {
	height:45px;
	border-bottom:solid black;
}

.footer {
	
	margin-top: 30px;
	margin-left:10px;
	color: $grayLight; 
	a {
		color:$gray;
	}
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
}

.carousel .container {
	text-align:center;
}

.carousel {
	position: relative;
	display:block;
}

.my-carousel {
	background:rgba(0,0,0,0);
	margin-bottom:120px;
	color:white;
}

header.container.navbar-container {
	height:40px;
	color:#0088CC;
}

.navbar .nav > li > a {
	color:#0088CC;
	font-weight:bold;
	font-size:110%;
	&:hover {
		color:#777777;
		text-decoration:underline;
	}
}

.signedinpage {
	text-align:center;
	position:relative;
}

.lead a {
		text-decoration:none;
		color:#FFFFCC;
		&:hover {
			color:#FFFFCC;
	    text-decoration: underline;
	  }
		&:active {
			color:#FFFFCC;
		}
		&:visited {
			color:#FFFFCC;
		}
}

.list-link a {
	text-decoration:none;
	color:#FFFFCC;
	&:hover {
		color:#FFFFCC;
    text-decoration: underline;
  }
	&:active {
		color:#FFFFCC;
	}
	&:visited {
		color:#FFFFCC;
	}
}

/* List Index Page */

.page {
	max-width: 1060px;
	padding:3em 2em;
	margin-right:auto;
	margin-left:auto;
}

.page-section {
	display:block;
}

.page-section-header {
	margin-bottom:1em;
	text-align:center;
}

.list-view {
	padding:1.65em 2em 2em;
	background-color:#FFFFCC;
	border-radius:5px;
}

.list-name {
	font-size:115%;
	font-weight:bold;
	width:300px;
}

.actions {
	width:70px;
}