$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import "bootstrap";

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.footer {
	
	margin-top: 50px;
	margin-left:10px;
	color: $grayLight; 
	a {
		color:$gray;
	}
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
}

.carousel .container {
	text-align:center;
}

.carousel {
	position: relative;
	display:block;
}

.my-carousel {
	background:rgba(0,0,0,0);
	margin-bottom:120px;
	color:white;
}

